body{
    background-color: #F8DED2;
}
header{
    font-family: 'Montserrat Alternates', sans-serif;
    height: 100px;
    background: linear-gradient(to right, #5835E8, violet);
}
#encabezado{
    display: inline-block;
    text-align: center;
    font-style: italic;
    text-align: center;
    margin-top: 25px;
    margin-left: 900px;
}
#listas{
    font-family: 'Orbitron', sans-serif;
    background-color: #ceafe7;
    line-height: 2em;
}
footer{
    font-family: 'Montserrat Alternates', sans-serif;
}
#video{
    text-align: center;
}
h2{
    text-align: center;
    font-family: 'Montserrat Alternates', sans-serif;
}
#adjunto{
    background: linear-gradient(to right,violet, #5835E8);
}
nav{
    text-align: right;
}
.spanNav{
    color: rgb(34, 32, 32);
    text-decoration: none;
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: bold;
    display: inline;
    text-align: center;
}

/*Sección de Registro*/
h2{
    text-align: center;
    background: linear-gradient(to right,violet, #5835E8);
}
.spanForm{
    font-weight: bold;
}

/*Sección Tabla*/
#tabla{
    color: rgb(34, 31, 31);
    text-align: center;
    font-weight: bolder;
    margin-top: 20px;
    margin-left: 500px;
    background: linear-gradient(to right,violet, #5835E8);
    display: inline-block;
}
#textoTabla{
    color: #b6d6ec;
}