#escape{
    color: rgb(175, 240, 101);
}
.subtituloMio{
    color:rgb(150, 101, 240)
}
blockquote{
    color: rgb(171, 231, 211) !important;
}
h3{
    color: yellow !important;
}
#oferta{
    color: rgb(95, 179, 190);
}